

  /* =Elements
  ----------------------------------------------- */
  body {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3 {
    font-size: inherit;
  }
  h1, h2, h3, p {
    margin-top: 0.675em;
    margin-bottom: 0.675em
  }

  a img {
    border-width: 0;
  }

  a {
    color: inherit;
  }


  /* =Container (Link)
  ----------------------------------------------- */
  .ad-300x250,
  .ad-300x600,
  .ad-970x250 {
    background: linear-gradient(86deg, rgb(0, 156, 222), rgb(100, 165, 68)); /* @blue */ /* @green */
    color: white;
    font: 100%/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    overflow: hidden;
  }
  .ad-300x250 {
    width: 300px;
    height: 250px;
  }
  .ad-300x600 {
    width: 300px;
    height: 600px;
  }
  .ad-970x250 {
    width: 970px;
    height: 250px;
  }
  .hidden .image img,
  .hidden .description {
    visibility: hidden;
  }


  /* =Image
  ----------------------------------------------- */
  .ad-300x250 .image {
    width: 300px;
    height: 125px;
  }
  .ad-300x600 .image {
    width: 300px;
    height: 300px;
  }
  .ad-970x250 .image {
    width: 485px;
    height: 250px;
  }

  /* Show a dark background while the image is loading */
  .image {
    background: rgb(44, 46, 47); /* @black */
  }

  /* Center the image */
  .image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Make the image fill the available space */
  @supports (object-fit: cover) and (object-position: 50% 25%) {
    .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 25%;
    }
  }

  /* Add a gradient above the image so the logos will be more readable */
  .image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
  }


  /* =Kiva PayPal Logos
  ----------------------------------------------- */
  .ad-300x250 h1,
  .ad-300x600 h1,
  .ad-970x250 h1 {
    position: absolute;
    top: 0.675em;
    left: 1.25em;
  }
  .ad-970x250 h1 {
    top: 170px;
  }
  .ad-300x250 h1 {
    top: 0.25em;
    left: 1em;
  }
  .ad-300x250 h1 img {
    width: 150px;
    height: auto;
  }


  /* =Details
  ----------------------------------------------- */
  .details {
    padding: 1.25em 1.25em 0;
    box-sizing: border-box;
  }


  /* =Name and Location
  ----------------------------------------------- */
  .name,
  .location {
    display: inline;
  }
  .name {
    font-size: inherit;
    margin: 0;
  }
  .location {
    margin: 0;
    font-weight: bold;
    opacity: 0.5
  }


  /* =Description
  ----------------------------------------------- */
  .description {
    font-size: 1.5em;
  }
  .ad-300x250 .description {
    height: 5em; /* 5 lines (1.25em x 4) */
    overflow-y: hidden;

    /* OPTIONAL: Show an ellipses if the text has been truncated
    http://dropshado.ws/post/1015351370/webkit-line-clamp */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .ad-970x250 .description {
    height: 2.5em; /* 2 lines (1.25em x 2) */
    overflow-y: hidden;

    /* OPTIONAL: Show an ellipses if the text has been truncated
    http://dropshado.ws/post/1015351370/webkit-line-clamp */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .ad-300x600 .description {
    height: 3.75em; /* 3 lines (1.25em x 3) */
    overflow-y: hidden;

    /* OPTIONAL: Show an ellipses if the text has been truncated
    http://dropshado.ws/post/1015351370/webkit-line-clamp */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }


  /* =Progress
  ----------------------------------------------- */
  p.progress {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  .ad-300x600 p.progress {
    margin-top: 1.5em;
  }
  progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;

    width: 100%;
    height: 0.675em;
    margin: 0;
    display: block;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-width: 0;
  }

  progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
  }

  progress::-ms-fill {
    background: white;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }
  progress::-moz-progress-bar {
    background: white;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }
  progress::-webkit-progress-value {
    background: white;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }

  .progress .text {
    display: block;
    margin-bottom: 0.3125em;
    font-size: 0.875em;
  }
  .progress .text a {
    opacity: 0.5;
    text-decoration: none;
  }
  .progress .text a:hover,
  .progress .text a:active,
  .progress .text a:focus {
    opacity: 1;
  }


  /* =Call to Action (Button)
  ----------------------------------------------- */
  p.action {
    margin-top: 1.125em;
    margin-bottom: 0;
    text-align: center;
  }
  p.action a {
    display: block;
    text-decoration: none;
    background: rgb(38, 59, 128); /* @dark-blue */
    color: white;
    font-weight: bold;
    padding: 0.575em 1.875em;
    border-radius: 1.875em;
  }
  p.action a:hover,
  p.action a:active,
  p.action a:focus {
    background: rgb(18, 39, 108); /* @darker-blue */
  }


  /* =300 x 250
  ----------------------------------------------- */
  .ad-300x250 .description {
    width: 50%;
  }
  .ad-300x250 .progress {
    width: 40%;
    position: absolute;
    top: 168px;
    left: 173px;
    margin: 0;
  }
  .ad-300x250 .action {
    width: 40%;
    box-sizing: border-box;
    position: absolute;
    top: 213px;
    left: 173px;
    margin: 0;
  }
  .ad-300x250 .details {
    padding: 0.675em 0.675em 0;
  }
  .ad-300x250 .details h2,
  .ad-300x250 .details p {
    font-size: 0.75em;
  }
  .ad-300x250 .details .description {
    font-size: 0.875em;
  }


  /* =970 x 250
  ----------------------------------------------- */
  .ad-970x250:after {
    content: "";
    display: table;
    clear: both;
  }
  .ad-970x250 .image {
    float: left;
  }
  .ad-970x250 .details {
    float: left;
    width: 485px;
  }

